@page
@model CarOwnershipWebApp.Areas.Identity.Pages.Account.ManulCarDataModel
@{
    ViewData["Title"] = "Manual car data input";
}

<h1>@ViewData["Title"]</h1>
<h2>Could not retrieve car data. You can input it manually or cancel.</h2>
<div class="col-md-4">
    <section>
        <form id="account" method="post">
            <input type="hidden" name="handler" value="SaveCarData" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.VehicleName"></label>
                <input asp-for="Input.VehicleName" class="form-control"  />
                <span asp-validation-for="Input.VehicleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Registration"></label>
                <input asp-for="Input.Registration" class="form-control" value="@Model.Registration" />
                <span asp-validation-for="Input.Registration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LicensePlate"></label>
                <input asp-for="Input.LicensePlate" class="form-control" value="@Model.LicensePlate" />
                <span asp-validation-for="Input.LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Date"></label>
                <input asp-for="Input.Date" class="form-control" />
                <span asp-validation-for="Input.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Owners"></label>
                <input asp-for="Input.Owners" class="form-control" />
                <span asp-validation-for="Input.Owners" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Vin"></label>
                <input asp-for="Input.Vin" class="form-control" />
                <span asp-validation-for="Input.Vin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Done</button>
            </div>
        </form>
    </section>
</div>